<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
<key>CFBundleDisplayName</key><string>StreamPOC</string>
<key>CFBundleExecutable</key><string>StreamPOC</string>
<key>CFBundleIdentifier</key><string>com.poc.trollstore.stream</string>
<key>CFBundleName</key><string>StreamPOC</string>
<key>CFBundlePackageType</key><string>APPL</string>
<key>CFBundleShortVersionString</key><string>0.0.1</string>
<key>CFBundleVersion</key><string>1</string>
<key>LSRequiresIPhoneOS</key><true/>
<key>MinimumOSVersion</key><string>15.0</string>
<key>UIDeviceFamily</key><array><integer>1</integer><integer>2</integer></array>
</dict>
</plist>
